@media (max-width: 1180px) {
      .menu {
            display: none;
      }
      .menu-icon {
            display: block;
        }
        .menu-tel p {
            display: none;
        }
        .mp-content__btn > .btn > div >.long-text {
            display: none;
        }
        .mp-content__btn > .btn > div > .short-text {
            display: block;
        }
}
@media (max-width: 800px) {
      .bg-image {
            max-height: 80%;
        }
        
}
@media (max-width: 600px) {
      .bg-image {
            max-height: 76%;
        }
        .mp-content__btn {
            flex-direction: column;
            gap: 16px;
        }
        .btn--opacity::after {
            background-image: url(../images/white-arrow-bold.svg);
        }
        .btn--white::after {
            background-image: url(../images/dark-arrow-bold.svg);
        }
        
}
@media (max-width: 560px) {
      .short-text {
            display: block;
      }
      .long-text {
            display: none;
      }

        
}
@media (max-width: 500px) {
      .bg-image {
            max-height: 71%;
        }
        
}
@media (max-width: 375px) {
      .mp-content h1 {
            max-width: 220px;
      }
}